@model Application2;
@{
    ViewData["Title"] = "Application2";
}

<div class="container fluid pb-3 -mt-5">
    <form asp-action="App2" method="post">
    <hr>
    <h5>Other Information</h5>
    <hr>
    <div class="row">
         <div class="col-md-6 col-sm-12">
            <p><b>1.</b> What is your investment objective in dealing securities?</p>
                <select asp-for="Other1" class="form-select" id="info1Select" onchange="info1Form()">
                    <option selected>Please Choose</option>
                    <option value="Trading">Trading</option>
                    <option value="Investment">Investment</option>
                    <option value="other">Others</option>
                </select>
            <br>
            <input type="text" class="form-control" id="otherInfo1" placeholder="Other, Please Specify" style="display: none;">
         </div>

        <div class="col-md-6 col-sm-12">
            <p><b>2.</b> Do you have any experience and knowledge in securities trading?</p>
                <select asp-for="Experience" class="form-select">
                <option selected>Please Choose</option>
                <option value="no">No experience / knowledge</option>
                <option value="limited">Limited experience</option>
                <option value="> 3 years">Experience ( > 3 years)</option>
            </select>
        </div>

        <div class="col-md-6 col-sm-12">
            <p class="params"><b>3.</b> Existing account with Apex Securities Berhad?</p>
                <select asp-for="Other3" class="form-select" id="info3Select" onchange="info3Form()">
                <option selected>Please Choose</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
            <br>
                <input type="text" class="form-control" id="otherInfo3" placeholder="Account No" style="display: none;">
        </div>

        <div class="col-md-12 col-sm-12">
            <p class="params">
                <b>4.</b> Any trading account maintained with other participating organisation of bursa malaysia securities berhad?
                (if yes, please specify name of the participating organisation)
            </p>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="input">
                <input asp-for="Other4" type="text" class="form-control" id="otherInfo4">
                <label></label>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <p>
                <b>5.</b> Is the Applicant related to any staff/ director/ capital market services representatives license holder Apex Securities Berhad?
                (if yes, please provide name and relationship)
            </p>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="input">
                <input asp-for="Other5Name" type="text" class="form-control" id="fullname" placeholder=" ">
                <label for="fullname" class="form-label">Name <span class="text-danger">*</span></label>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="input">
                <input asp-for="Other5Relationship "type="text" class="form-control" id="fullname" placeholder=" ">
                <label for="fullname" class="form-label">Relationship <span class="text-danger">*</span></label>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <p>
                <b>6. COMPULSORY TO DISCLOSE</b> - Do any of the aplicant's related persons have Trading Account (Equities/Derivates) maintained with Apex Securities Berhad?
                <b>
                    Related persons: spouse, partner, partnership, partner's spouse and companies under your control and/ or spouse's control,
                    OR for corprate / institutional the related persons which is the corporation and the corporation's Related Corporation and Associated Corporations.
                </b>
                (If yes, please provide name, account number and relationship; if no, please state "NO")
            </p>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="input">
                <input asp-for="Other6Name"  type="text" class="form-control" id="fullname" placeholder=" ">
                <label for="fullname" class="form-label">Name of Related person <span class="text-danger">*</span></label>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="input">
                <input asp-for="Other6Account" type="text" class="form-control" id="fullname" placeholder=" ">
                <label for="fullname" class="form-label">Trading Account Number <span class="text-danger">*</span></label>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="input">
                <input asp-for="Other6Relationship" type="text" class="form-control" id="fullname" placeholder=" ">
                <label for="fullname" class="form-label">Relationship <span class="text-danger">*</span></label>
            </div>
        </div>
    </div>
    <hr>
    <h5>Delivery of Electronic Contract Notes / Statements</h5>
    <hr>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <p>
                I/ We refer to the opening of the trading account with you, APEX SECURITIES BHD and wish to request you to issue an deliver my daily
                and monthly statement/ custody statement in the following manner:
            </p>
            <select asp-for="DeliveryMode" class="form-select" id="purposeSelect" onchange="toggleOtherInput()">
                <option  selected>Mode of Delivery</option>
                <option value="email">E-mail</option>
                <option value="website">Website</option>
            </select>
        </div>
    </div>
    <hr>
    <h5>Letter of Payment Instruction</h5>
    <hr>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <p>
                I/ We hereby request all payments (including, but not limited to sales proceeds and credits) due to me / us Apex Securities Berhad, here in after,
                "ASB", from time to time under my/ our trading account opened with ASB be made in the following manners.
            </p>
        </div>
        <div class="col-md-12 col-sm-12">
            <select asp-for="AccountType" class="form-select" aria-label="Default select example">
                <option selected>Account Type</option>
                    <option value="Saving">Saving Account</option>
                    <option value="Current">Current Account</option>
            </select>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="input">
                <input asp-for="BankName" type="text" class="form-control" id="nric" placeholder="">
                <label for="nric" class="form-label">Bank Name <span class="text-danger">*</span></label>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="input">
                <input asp-for="BankAccount" type="text" class="form-control" id="nric" placeholder="">
                <label for="nric" class="form-label">Account No. <span class="text-danger">*</span></label>
            </div>
        </div>
    </div>
    <hr>
    <h5>Declaration on Politically Exposed Person (PEP)</h5>
    <hr>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <p>Declaration whether a PEP <span class="text-danger">*</span></p>

            <select asp-for="Pep" class="form-select" id="pep" onchange="pepForm()">
                <option selected>Please Choose</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
            </select>
            <br>
            <select asp-for="StatusPep" class="form-select" id="statusPep" style="display: none;">
                <option selected>Status of PEP</option>
                    <option value="Local">A Local PEP</option>
                    <option value="Foreign">A Foreign PEP</option>
            </select>
            <br>
            <select asp-for="RelationshipPep" class="form-select" id="relationshipPep" style="display: none;">
                <option selected aria-readonly="true">Relationship with PEP</option>
                    <option value="local PEP">Is a close associate to a local PEP</option>
                    <option value="foreign PEP">Is a close associate to a foreign PEP</option>
            </select>
        </div>
    </div>
    <hr>
    <h5>Declaration on Foreign Currency Securities Trading Facilities</h5>
    <hr>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <p>
                I/we am/are acknowledged and aware that I/We shall at all times comply with the applicable BNM FEA for the purposes of investment in foreign currency asstes.
                In order to comply with the BNM FEA, I/we do solemnly and sincerely declare and affirm as follows <span class="text-danger">*</span>
            </p>

            <select asp-for="Declaration" class="form-select" id="Dec" onchange="DeclarationForm()">
                <option  selected>Please Choose</option>
                    <option value="resident">I/We am/are resident of Malaysia</option>
                    <option value="non-resident">I/We am/are non-resident of Malaysia</option>
            </select>
            <br>
            <div class="form-check" id="resident" style="display: none;">
                <input class="form-check-input" type="checkbox" value="" id="residentCheckbox">
                <label class="form-check-label" for="residentCheckbox">
                    I/we<u> DO NOT HAVE domestic ringgit credit facilities</u> and hereby undertake to inform the
                    company immediately should I/we obtain domestic ringgit facilities or upon request by the company
                </label>

                <input class="form-check-input" type="checkbox" value="" id="nonResidentCheckbox">
                <label class="form-check-label" for="nonResidentCheckbox">
                    I/we <u>HAVE domestic ringgit credit facilities</u> and are thus allowed to convert up to RM1,000,000.00 in aggregate for an individual
                    or up to RM50,000,000.00 in aggregate for a corporation, on a corporate group basis per calendar year for investment in foreign currency assets.
                </label>
            </div>
        </div>
    </div>
    <div class="text-right mt-3">
        <a type="button" href="" class="btn btn-secondary">Clear</a>
        <button type="submit" class="btn btn-primary">Proceed To Next Step 2/3</button>
    </div>
    </form>
</div>