
/* Heading */
.h5 {
    margin: 15px;
    padding-top: 10px; 
}

.btn {
    border-radius: 10px
}

/*.form-control {
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 10px;
    outline: 0;
    border-width: 0 0 2px;
}

.form-select {
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 35px;
    text-align: 10px;
}*/

.input {
    position: relative;
    margin-bottom: 10px;
    margin-top: 15px;
    outline: 0;
    border-width: 0 0 2px;
}

.form-label {
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.2s ease-out;
}

.form-control:focus + .form-label,
.form-control:not(:placeholder-shown) + .form-label {
    top: 0;
    font-size: 14px; 
    transform: translateY(-100%);
    color: #000000; 
}
